streamlit==1.21.0
jupyter==1.0.0
plotly==5.13.0
pandas==1.5.2
click==8
lppls==0.6.6
feedparser==6.0.10
ta==0.10.2
finta==1.3
bokeh==3.0.3
plotly==5.13.0
statsmodels==0.13.2
python-sec==0.1.6
transformers==4.27.4
streamlit-modal==0.1.0
hydralit_components==1.0.10
streamlit_searchbox==0.1.3
streamlit-chat==0.0.2.2
EdgeGPT==0.3.0
